section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    /*margin-bottom: 30px;*/
}
.logo{
    align-items: center;
    display: inline;

}

body{
    font-family:Arial, Helvetica, sans-serif;
    
}

.errors {
    /* margin-bottom: 10px; */
    border: 2px solid red;
}

.no-errors {
    display: none;
}

div{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 50px -10px black;
}
h1{
display: block;
font-size: 28px;
margin: 24px 0px;
text-align: center;
}

input{
    padding: 20px;
    border-color: rgb(8, 85, 14);
    outline: none;
    border-radius: 10px; 
    font-size: 15px;
    width: 260px;
}


button{
    margin-top: 10px;
    background-color: rgb(10, 177, 10);
    width: 80px;
    border: none;
    padding: 5px 5px;
    border-radius: 20px;
    font-weight: bold;
}

button:hover{
    background-color:#7CFC00 ;
    

}